.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.main-container {
  padding-bottom: 20px;
}