.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.main-container {
  padding-bottom: 20px;
}

.searchCityContainer h3 {
    font-size: 1.5rem;
    
} 

.searchCityContainer {
    background-color: black;
    color: pink;
    text-align: center;
    height: 600px;
}

.search-button {
    font-size: 1rem;
    height: 38px;
    width: 38px;
    margin-left: -1px;
    margin-top: 0;
}